* {
    font-family: avenir, 'avenir-backup', verdana, sans-serif;
}

:root {
    --pink-color: #bd4df2;
    --font-color: #777777;
    --solid-gray: #4d4d4d;
    --default-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    --hover-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

a {
    color: var(--solid-gray);
    text-decoration: none;
}

.small-detective {
    position: absolute;
    left: 0;
    top: 5px;
}

header {
    box-sizing: border-box;
    border: 1px solid transparent;
    position: relative;
    padding: 0 109px 0 149px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: var(--default-shadow);
    display: flex;
    z-index: 10;
    background-color: #fff;
}

.header-title {
    color: #000000;
    font-size: 30px;
}

#hamburger {
    display: none;
    border: none;
    height: 27px;
    position: absolute;
    z-index: 2;
    right: 16px;
    background-color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px;
    cursor: pointer;
    outline: none;
}

#hamburger-check {
    display: none;
}

#hamburger span {
    top: 12px;
    transition: 0.2s;
}

#hamburger:before {
    top: 2px;
    transition: 0.2s;
    transform-origin: top left;
}
#hamburger:after {
    bottom: 2px;
    transition: 0.2s;
    transform-origin: bottom left;

}
#hamburger:after, #hamburger:before, #hamburger span {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: var(--pink-color);
    position: absolute;
}

.pinky {
    color: var(--pink-color);
}

.start-trial-link {
    width: 111px;
    height: 40px;
    color: var(--pink-color);
    border: 2px solid var(--pink-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 28px;
}

.header-links-wrapper {
    display: flex;
    padding: 0;
    list-style: none;
}

.header-link {
    margin-right: 28px;
    height: 60px;
    transition: 0.1s;
}

.header-link:hover {
    color: var(--pink-color)
}

nav {
    display: flex;
    align-items: center;
}

#language-select-wrapper {
    cursor: pointer;
    color: var(--solid-gray);
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
}

.language-label {
    transition: 0.1s;
}

#language-select-wrapper:hover .language-label {
    color: var(--pink-color)
}

#language-select-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 13px;
    border: 1px solid var(--font-color);
}

#language-select-icon.english {
    background-image: url(./images/languages/eng-icon.png);
}

#language-select-list {
    display: none;
    position: absolute;
    padding: 0;
    top: 40px;
    transform: translate(-50%);
    left: 50%;
    box-shadow: var(--default-shadow);
    border-radius: 5px;
    background-color: #fff;
    list-style: none;
}

#language-select-list.opened {
    display: block;
}

.language-select-item {
    border-radius: 5px;
    padding: 10px 20px;
}

.language-select-item:hover {
    box-shadow: var(--hover-shadow);
}

/**/
main {
    position: relative;
    color: var(--font-color);
    background-color: #f9f9f9;
    padding-top: 30px;
}

.main-title {
    font-size: 48px;
    max-width: 638px;
    margin-top: 24px;
    line-height: 66px;
    position: relative;
    z-index: 4;
}

.main-info {
    font-size: 24px;
    margin: 10px 0;
    line-height: 36px;
    font-weight: lighter;
    position: relative;
    z-index: 4;
}

.first-block {
    z-index: 2;
    margin: 0 101px 88px 149px;
}

.analyse-wrapper{
    position: relative;
    width: 545px;
    z-index: 4;
}

.analyse-input {
    width: 333px;
    padding: 0 18px;
    border: 1px solid #bdc0c9;
    height: 50px;
    border-radius: 5px 0 0 5px;
    box-shadow: var(--default-shadow);
    box-sizing: border-box;
    font-size: 18px;
}

.analyse-button {
    font-size: 18px;

    background-color: var(--pink-color);
    border: none;
    box-shadow: var(--default-shadow);
    height: 50px;
    width: 210px;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px 0 30px;
    cursor: pointer;
}

.analyse-button:before {
    content: '';
    left: 10px;
    background-image: url(./images/loupe-icon.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.big-detective {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 0;
}

/**/

h3{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}

h4 {
    font-size: 26px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

/**/

.second-trusted-by-block {
    margin: 0 101px 88px 149px;
}


.trusted-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/**/

.third-how-it-works-block {
    margin: 0 114px 0 87px;
}

.how-works-item {
    display: flex;
    margin-bottom: 71px;
}
.how-works-item p {
    font-weight: lighter;
}

.how-works-item p, .how-works-item q {
    line-height: 28px;
    margin-top: 0px;
    color: var(--solid-gray);
}

.how-works-item q {
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    font-weight: normal;
}

.how-works-item:last-child {
    margin-bottom: 54px;
}

.how-works-item:nth-child(2n + 1) {
    flex-flow: row-reverse;
}

.how-works-item:nth-child(2n + 1) .how-works-item__image-wrapper {
    margin-left: 43px;
    margin-right: 0px;
}

.how-works-item__image-wrapper {
    width: 60%;
    max-width: 580px;
    margin-right: 43px;
}

.how-works-item__picture {
    width: 100%;
}

.how-works-item__info {
    width: 40%;
}

.testimonial {
    display: flex;
}

.testimonial__avatar {
    min-width: 59px;
    height: 59px;
    margin-right: 15px;
}
/**/

.fourth-price-block {
    margin: 0 114px 0 87px;
}

.cards {
    display: flex;
    justify-content: space-around;
    max-width: 990px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
}

.card {
    background-color: #fff;
    width: 310px;
    height: 410px;
    box-shadow: var(--default-shadow);
    padding: 39px 20.5px 31px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--solid-gray);
    transition: 0.1s;
    /*margin-bottom: 28px;*/
    margin: 15px 0 28px;
}

.card:hover {
    box-shadow: var(--hover-shadow);
}

.card__title {
    font-weight: 300;
    height: 44px;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin: 0;
}

.card__price {
    margin: 9px 0 0;
    height: 71px;
    color: var(--pink-color);
    font-size: 52px;
    line-height: 71px;
    font-weight: 800;
    text-align: center;
}

.card__divider {
    position: relative;
    display: block;
    border-top: 1px solid #cccccc;
    margin-top: 23px;
    width: 100%;
}

.card__divider:before {
    font-size: 16px;
    font-weight: lighter;
    width: 112px;
    height: 22px;
    display: inline-block;
    position: absolute;
    content: 'Per month';
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    background-color: #fff;
}

.card__list {
    /*padding: 0;*/
    font-weight: lighter;
    padding: 21px 10px 0 40px;
    list-style-image: url('./images/card-check.png');
}

.card__button {
    height: 50px;
    width: 230px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: var(--pink-color);
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

.payment-system-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
}

.payment-system-block p {
    font-size: 18px;
    text-align: center;
}


    /**/

footer {
    margin-top: 74px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer ul {
    list-style: none;
    display: flex;
    width: 572px;
    padding: 0;
    justify-content: space-between;
}

footer a {
    padding: 5px;
    color: #ffffff;
    font-size: 18px;
    transition: 0.1s;
}

footer a:hover {
    color: var(--pink-color)
}

/**/

/*--xs: 576px;*/
/*--sm: 768px;*/
/*--md: 992px;*/
/*--lg: 1200px;*/

@media (max-width: 992px)  {
    header {
        display: block;
        position: fixed;
        top: 0;
        padding: 0 0 0 80px;
        width: 100%;
    }
    main {
        padding-top: 96px;
    }
    nav {
        box-sizing: border-box;
        padding: 40px 0 0 80px;
        position: fixed;
        height: calc(100vh - 82px);
        z-index: 10;
        bottom: 0;
        left: -100%;
        background-color: #fff;
        width: 100%;
        transition: 0.2s;
        flex-direction: column;
        align-items: flex-start;
    }
    .header-links-wrapper {
        flex-direction: column;
        align-items: flex-start;

    }
    .header-link {
        margin: 10px 0;
        display: block;
        height: 20px;
    }
    #hamburger {
        display: block;
    }
    #hamburger-check:checked ~ nav {
        left:0;
    }
    #hamburger-check:checked ~ label:before {
        transform: rotate(45deg);
    }
    #hamburger-check:checked ~ label:after {
        transform: rotate(-45deg);
    }
    #hamburger-check:checked ~ label span {
        opacity: 0;
    }

    .first-block, .second-trusted-by-block, .third-how-it-works-block, .fourth-price-block {
        margin: 0 15px 0 30px;
    }

    .how-works-item__image-wrapper {
        width: 40%;
    }

    .how-works-item__info {
        width: 60%;
    }
    .big-detective {
        position: absolute;
        right: 0;
        top: 96px;
        z-index: 0;
    }
}

@media screen and (max-width: 768px)  {
    header {
        padding: 0 0 0 80px;
    }
    .header-title {
        font-size: 24px;
        line-height: 33px;
        margin: 24px 0;
    }
    .main-title {
        font-size: 28px;
        line-height: 38px;
        text-align: center;
    }
    nav {
        padding: 40px 0 0 80px;
    }
    .big-detective {
        display: none;
    }

    .card {
        margin: 15px 28px 28px;
    }
    .main-info {
        font-size: 18px;
        line-height: 36px;
    }
    .pinky-big {
        color: var(--font-color);
    }


    .analyse-wrapper{
        position: relative;
        width: 100%;
    }

    .analyse-input {
        width: 100%;
        border-radius: 5px;
    }

    .analyse-button {
        margin: 15px 0 0 0;
        width: 100%;
        border-radius: 5px;
    }

    .analyse-button:before {
        content: '';
        left: 10px;
        background-image: url(./images/loupe-icon.png);
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
    }

    h3{
        font-size: 28px;
        margin-top: 40px;
    }

    .trusted-by {
        flex-direction: column;
    }
    .trusted-by img {
        margin: 27px 0;
    }

    .how-works-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 71px;
    }

    .how-works-item__image-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .how-works-item__picture {
        width: 100%;
    }

    .how-works-item__info {
        width: 100%;
    }

    .how-works-item:nth-child(2n + 1) {
        flex-flow: row;
        flex-direction: column;
    }

    .how-works-item:nth-child(2n + 1) .how-works-item__image-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }

    .payment-system-block p {
        font-size: 15px;
    }

    .payment-system-block img {
        width: 260px;
    }

    footer {
        height: 375px;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
    }

    footer li {
        margin: 32px 0;
    }
}

@media (max-width: 355px) {
    header {
        padding-left: 43px;
    }
}

/**/

@font-face {
    font-family: 'avenir-backup';
    src: url('./fonts/Avenir-Medium.woff2') format('woff2'),
         url('./fonts/Avenir-Medium.woff') format('woff'),
         url('./fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-backup';
    src: url('./fonts/Avenir-Light.woff2') format('woff2'),
         url('./fonts/Avenir-Light.woff') format('woff'),
         url('./fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}