@media (max-width: 1100px)  {
    header {
        padding: 0 20px 0 80px;
    }
    .header__wrapper {
        margin: 0;
    }
    .first-block, .second-trusted-by-block, .third-how-it-works-block, .fourth-price-block {
        margin: 0 40px 0 40px;
    }
}

@media (max-width: 992px) {
    header {
        display: block;
        position: fixed;
        top: 0;
        padding: 0 0 0 80px;
        width: 100%;
    }

    main {
        padding-top: 100px;
    }

    nav {
        box-sizing: border-box;
        padding: 40px 0 0 80px;
        position: fixed;
        height: calc(100vh - 60px);
        z-index: 10;
        top: 60px;
        left: -100%;
        background-color: #fff;
        width: 100%;
        transition: 0.2s;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-links-wrapper {
        flex-direction: column;
        align-items: flex-start;

    }

    .header-link {
        margin: 10px 0;
        display: block;
        height: 20px;
    }

    #hamburger {
        display: block;
    }

    #hamburger-check:checked ~ nav {
        left: 0;
    }

    #hamburger-check:checked ~ body{
        overflow: hidden;
    }

    #hamburger-check:checked ~ label:before {
        transform: rotate(45deg);
        top: -2px
    }

    #hamburger-check:checked ~ label:after {
        bottom: -1px;
        transform: rotate(-45deg);
    }

    #hamburger-check:checked ~ label span {
        opacity: 0;
    }

    .trusted-by {
        justify-content: center;
    }

    .trusted-by img {
        margin: 30px 17px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .first-block, .second-trusted-by-block, .third-how-it-works-block, .fourth-price-block {
        margin: 0 20px 0 20px;
    }

    .how-works-item__image-wrapper {
        width: 40%;
    }

    .how-works-item__info {
        width: 60%;
    }

    /*.big-detective {*/
    /*    display: none !important;*/
    /*}*/
}

@media screen and (max-width: 830px) {
    .main-list {
        height: auto;
        width: 300px;
    }
    .main-list li{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {

        height: 60px;
    }

    #hamburger {
        top: 19px;
    }

    .header-title {
        font-size: 24px;
        line-height: 33px;
        margin: 14px 0;
    }

    .small-detective {
        height: 50px;

    }

    nav {
        padding: 40px 0 0 80px;
    }

    .card {
        margin: 20px 0 0 0;
    }

    h3 {
        font-size: 28px;
        margin-top: 40px;
    }

    .how-works-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .how-works-item__image-wrapper {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .how-works-item__picture {
        width: 100%;
    }

    .how-works-item__info {
        width: 100%;
    }

    .how-works-item:nth-child(2n + 1) {
        flex-flow: row;
        flex-direction: column;
    }

    .how-works-item:nth-child(2n + 1) .how-works-item__image-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }

    .payment-system-block p {
        font-size: 15px;
    }

    .payment-system-block img {
        width: 260px;
    }

    footer {
        height: 280px;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
    }

    footer li {
        margin: 20px 0;
    }
}

@media (max-width: 700px) {
    main {
        padding-top: 80px;
    }
    .main-title {
        font-size: 30px;
        line-height: 38px;
        text-align: center;
    }
    .main-info {
        font-size: 18px;
        line-height: 36px;
        padding-right: 0;
        text-align: center;
    }

    .and-more {
        margin-bottom: 10px;
    }

    .main-list {
        font-size: 18px;
    }

    .main-list li {
        margin-bottom: 20px;
    }

    .main-list li:before {
        width: 20px;
        height: 19px;
    }

    .big-detective {
        width: 130px;
        height: 180px;
        top: 205px;
    }

    .pinky-big {
        color: var(--font-color);
    }

    .analyse-wrapper {
        position: relative;
        width: 100%;
    }

    .analyse-input {
        width: 100%;
        border-radius: 5px;
    }

    .analyse-button {
        margin: 15px 0 0 0;
        width: 100%;
        border-radius: 5px;
    }

    .analyse-button:before {
        content: '';
        left: 10px;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
    }
    h3 {
        font-weight: 800;
    }
    img[alt=nike]{
        height: 40px;
        width: 111px;
    }
    img[alt=disney]{
        height: 50px;
        width: 119px;
    }
    img[alt=uber]{
        width: 143px;
        height: 30px;
    }
}

@media (max-width: 380px) {
    .big-detective {
        top: 200px;
    }
}

@media (max-width: 355px) {
    header {
        padding: 0;
    }

    .header-title {
        margin: 25px auto;
        width: fit-content;
    }

    nav {
        padding: 40px 0 0 50px;
    }
    .main-title {
        font-size: 27px;
    }
}